" Set leader key to space bar
unlet mapleader
let mapleader = " "

" Jump navigation
nnoremap H :action PreviousTab<CR>
nnoremap L :action NextTab<CR> 
nnoremap <leader>h :action PreviousTab<CR>
nnoremap <leader>l :action NextTab<CR>
nmap <leader>j :action Back<CR>
nmap <leader>k :action Forward<CR>
nnoremap gd :action GotoDeclaration<CR>
nmap J <C-d>
nmap K <C-u>
nnoremap <leader>t :action TerminalToolWindow<CR>

" Close buffers
nnoremap <leader>cc :action CloseContent<CR>
nnoremap <leader>ca :action CloseAllEditors<CR>
map <leader>co :action CloseAllEditorsButActive<CR>

" Run
map <leader>rr :action Run<CR>
map <leader>rd :action Debug<CR>

" s<c><c> move to occurence of <c><c>. ;/, for next/prev
set sneak

" Highlight copied text
set highlightedyank
let g:highlightedyank_highlight_duration = "50"

" Only make yank operations copy to system clipboard
nnoremap y "+y
vnoremap y "+y

""""""""""
" Goto
""""""""""
let g:WhichKeyDesc_goto = "<leader>g Goto Actions"
map <leader>ga <Action>(GotoAction)
map <leader>gc <Action>(GotoClass)
map <leader>gd <Action>(GotoDeclaration)
map <leader>gf <Action>(GotoFile)
map <leader>gg <Action>(SearchEverywhere)
map <leader>gi <Action>(GotoImplementation)
map <leader>gs <Action>(GotoSymbol)
" This will also return to Test Subject from a test
map <leader>gt <Action>(GotoTest)
map <leader>gu <Action>(GotoSuperMethod)
" TODO find something better
map <leader>gbt <Action>(GotoTypeDeclaration)

" misc
map \f <Action>(ReformatCode)

set multiple-cursors
